.white-font{
    color: #ffffff;
}

/*************** MENU ******************/

.navbar-inverse {
     background: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar {
    margin-bottom: 0px;
}

/*************** /MENU *****************/



/*************** SECTION : HOME ******************/

.jumbotron {
    /*padding:70px 30px 70px 30px;*/
    padding: 0px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}
.jumbotron p {
    font-size: 18px;
}
.no-padding-L-R{
    padding-left: 0px;
    padding-right: 0px;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}
.fill {
    min-height: 100%;
    height: 100%;
}

.home-box {
    background: rgba(0,0,0,.8);
    color: #fff;
}

.home-box img {
    width: 240px;
    height: 240px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
}

.home-box div:first-child {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    text-align: center;
}

.social {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%,0);
}
.social ul {
    padding: 0px;
    margin-bottom: 30px;
}
.social li {
    display: inline-block;
    padding-right: 10px;
}
.social a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.3);
}
.social i {
    font-size: 18px;
    line-height: 30px;
}
.home-background {
    position: relative;
    top: 0;
    left: 0;
    background: url(../images/home-bg-img.jpg) top center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*************** /SECTION : HOME *****************/





/*************** CONTENT ******************/

html, body{
/*    padding:50px 0px 0px 0px;*/
    z-index:0;
    height: 100%;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.section-title{
    font-weight: 700;
    border-bottom: 2px solid #000000;
}

.margin-top-28px{
    margin-top: 28px;
}

ul.dashed {
    list-style-type: none;
}
ul.dashed > li:before {
    content: " - ";
}
ul.lower-roman {
    list-style-type: circle;
}

.border-bottom{
    border-bottom: 1px solid #000000;
}



/*.ul.dashed {*/
  /*list-style-type: none;*/
/*}*/

/*ul.dashed > li {*/
  /*text-indent: -5px;*/
/*}*/

/*ul.dashed > li:before {*/
  /*content: "-";*/
  /*text-indent: -5px;*/
/*}*/


/* animated elements */
.animateblock {
    padding: 8px 0;
    color: black;
    opacity: 0;
    -webkit-transition: all 0.55s linear;
    -moz-transition: all 0.55s linear;
    transition: all 0.55s linear;
}

.animateblock.animated {
    opacity: 1;
}

/* animation transition styles */
.animateblock.left {
    margin-left: -20%;
}
.animateblock.left.animated {
    margin-left: 0%;
}

.animateblock.right {
    display: block;
    margin-left: 20%;
}
.animateblock.right.animated {
    margin-left: 0%;
}

.animateblock.top {
    display: block;
    width: auto;
    text-align: center;
    margin-top: -25px;
}
.animateblock.top.animated {
    margin-top: 0px;
}

.animateblock.btm {
    display: block;
    width: auto;
    text-align: center;
    margin-top: 25px;
}
.animateblock.btm.animated {
    margin-top: 0;
}

.animateblock.centerleft {
    display: block;
    width: auto;
    text-align: center;
    margin-right: -10%;
}
.animateblock.centerleft.animated {
    margin-right: 0;
}

.animateblock.centerright {
    display: block;
    width: auto;
    text-align: center;
    margin-left: -10%;
}
.animateblock.centerright.animated {
    margin-left: 0;
}

.animateblock.center {
    margin-left: 2%;
}
.animateblock.center.animated {
    margin-left: 42%;
}

.animateblock.size {
    display: block;
    width: 10%;
    text-align: center;
}
.animateblock.size.animated {
    width: 100%;
    height: 100%;
}
.animateblock.size img {
    max-width: 100%;
    height: auto;
}

/*************** /CONTENT *****************/






/*************** FOOTER ******************/
.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

/*************** /FOOTER *****************/


















