<!------ CONTACT -------------------------------->
<section id="contact" class="container">
    <div class="container">
        <div class="title-collapse border-grey">
            <h3 class="no-margin">
                <a id="contact_expand"><i class="fa fa-envelope section-left-icon light-green-background"></i><span class="bold padding-15px">CONTACT</span></a>
            </h3>
        </div>
    </div>
    <div class="row row-content">
        <!-- ADDRESS MAP -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock left">
            <!--<h3 class="section-title">Achievements</h3>-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 ">
                    <div id="addressGoogleMap" style="width:100%;height:380px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTACT -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock right">
            <h3 class="section-title no-margin-top">GET IN TOUCH</h3>
            <div id="contact_info">
                <div class="row padding-top-10px">
                    <div class="col-xs-12 col-sm-12">

                        <ul class="info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Avidou 133, Zografou, 15772 Athens, Greece</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>christos.dimizas@gmail.com</span>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i> +30 6945231725
                                <i class="fa fa-phone margin-left-10px"></i> +30 2155305098
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
