<!------ EDUCATION & COURSEWORK ----------------->
<section id="education-coursework" class="">

    <div class="">
        <div class="title-collapse border-grey">
            <h3 class="no-margin">
                <a id="education_expand"><i class="fa fa-graduation-cap section-left-icon yellow-background"></i><span class="bold padding-15px">EDUCATION & COURSEWORK</span></a>
            </h3>
        </div>
    </div>

    <div class="row row-content">
        <!-- EDUCATION -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock left">
            <h3 class="section-title">EDUCATION</h3>
            <div id="education">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="margin-top-28px" align="center">Sept. 2008 – Sept. 2011</h4>
                    </div>
                    <div class="col-xs-12 col-sm-9 ">
                        <h4><strong>M.Sc. in Microelectronics – Optoelectronics</strong></h4>
                        <span class="pull-right">Dep. Of Physics University of Crete, Greece</span>
                        <br>
                        <span><strong>Thesis: </strong>Study (experimental and computational) of III-Nitride Resonant Tunneling Diodes</span>
                        <br>
                        <span class="pull-right">(supervisor : <a href="http://users.physics.uoc.gr/~iliopoul/cv.html">Dr. Eleftherios Iliopoulos</a>)</span>
                        <br>
                        <span>University of Crete, Dep. of Physics P.O Box 2208,GR- 71003 Heraklion, Greece</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="margin-top-28px" align="center">Sept. 2003 - June 2008</h4>
                    </div>
                    <div class="col-xs-12 col-sm-9 ">
                        <h4><strong>B.Sc. in Physics.</strong></h4>
                        <span class="pull-right">University of Crete, Greece</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- COURSEWORK -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock right">
            <h3 class="section-title">COURSEWORK</h3>
            <div id="coursework">
                <div class="row padding-top-10px">
                    <div class="col-xs-12 col-sm-12 ">
                        <ul>
                            <li><strong>Machine Learning</strong> – Stanford University – Coursera (four months e-course)</li>
                            <li><strong>Web Development Course</strong> – HTML5,CSS3, PHP, Ajax, JSON, jQuery, JavaScript, XML,
                                Udemy.com Learning Platform</li>
                            <li><strong>Introduction to Java programming</strong>University of San Jose – UDACITY (e-course)</li>
                            <li><strong>Physics (Applied Quantum Physics, Optoelectronics & Lasers, Semiconductor physics
                                and semiconductor devices (PN, BJT, MOSFETs, RTDs, etc.) Analog & Digital Electronics
                                and circuits.)</strong></li>
                            <li><strong>Introduction to computational finance & financial econometrics</strong> - University of Washington -
                                COURSERA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>