<!------ ACHIEVEMENTS & PERSONAL INTERESTS ------>
<section id="interests" class="container">

    <div class="container">
        <div class="title-collapse border-grey">
            <h3 class="no-margin">
                <a id="interests_expand"><i class="fa fa-rocket section-left-icon blue-background"></i><span class="bold padding-15px">ACHIEVEMENTS & PERSONAL INTERESTS</span></a>
            </h3>
        </div>
    </div>
    <div class="row row-content">
        <!-- ACHIEVEMENTS -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock left">
            <h3 class="section-title">ACHIEVEMENTS</h3>
            <div id="achievements">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 ">
                        <ul>
                            <li><strong>Scholarship from the Foundation for Research and Technology – Hellas (FORTH) – Heraklion
                                Crete.</strong>
                                <br>
                                <span>This scholarship was received by the three best students of M.Sc. in Microelectronics & Optoelectronics. (September 2008 – May 2010)</span>
                            </li>
                            <li>
                                <strong>Posters</strong>
                                <ul>
                                    <li>
                                        <strong>C. Dimizas 1 , P. Dimitrakis 2 , G. Deligeorgis 3 , E. Iliopoulos 1,4
                                            17 th European Molecular Beam Epitaxy Workshop (Euro-MBE 2013) Poster</strong>
                                        <br>
                                    <span class="pull-right">“Double barrier AlGaN/GaN (0001) resonant tunneling diodes:
                                        The effects of polarization fields” 1 University of Crete, Greece; 2 NCSR "Demikritos", Greece;
                                        3 LAAS-CNRS, France; 4 Foundation for Research and Technology-Hellas (FORTH), Greece</span>
                                    </li>
                                    <li>
                                        <strong>
                                            G. Deligeorgis, P. Dimitrakis, C. Dimizas, A. Kostopoulos, G. Konstantinidis, R. Normand
                                            and E. Iliopoulos,
                                        </strong>
                                        <br>
                                    <span>“Negative differential resistance and charge trapping phenomena in (0001) Al(Ga)N/GaN double
                                        barrier resonant tunneling diodes”, Micro&Nano 2010, Athens, Greece, December 2010.</span>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- PERSONAL INTERESTS -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px animateblock right">
            <h3 class="section-title">PERSONAL INTERESTS</h3>
            <div id="personal_interests">
                <div class="row padding-top-10px">
                    <div class="col-xs-12 col-sm-12 ">
                        <ul>
                            <li>Funding member of <strong>GRIoT</strong> team, member of
                                <strong><a href="http://thethingsnetwork.org/" target="_blank">The Things Network community</a></strong>.
                                Our <strong>main goal</strong> is to contribute to the community by adding a
                                gateway which increases the range of the <strong>LoraWAN network</strong> and to <strong>develop small IoT
                                    devices</strong> which utilize this network in order to exchange information.
                            </li>
                            <li>Music for people with hearing problems pet project. Experimental part using <strong>Arduino platform</strong>.
                                Software part using <strong>JAVA</strong> programming and Fourier <strong>transform analysis</strong>.
                            </li>
                            <li>
                                Hobbies : Arduino open platform applications, Basketball, Reading (Literature, novels)
                            </li>
                            <li>
                                Hydrogen production system using hydrolyses method in order to reduce fuel consumption in
                                internal combustion engines, regardless the fuel type.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>