<!------ LANDING PAGE --------------------------->
<section id="home" class="fill">
    <div class="container no-padding-L-R home-background">
        <!-- image -->
        <div class="row row-header text-center fill">
            <div class="home-box col-xs-12 col-sm-12 fill">
                <div>
                    <img src="281cf9d.jpg" alt="Christos Dimizas image">
                    <h2>Christos Dimizas</h2>
                    <p>Software engineer</p>
                </div>
            </div>

            <div class="social">
                <ul>
                    <li>
                        <a href="https://github.com/christos-dimizas" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://gr.linkedin.com/in/christos-dimizas-baa88348" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>