<!------ LANDING PAGE --------------------------->
<section id="landingPage" class="">
    <div class=" no-padding-L-R home-background container">

        <div class="row padding-L-R-20px">
            <div class="col-xs-12 col-sm-4 ">

                <!-- WORK EXPERIENCE -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-briefcase section-left-icon green-background"></i>
                            <span class="bold padding-15px white-font">WORK EXPERIENCE</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="work in works ">
                                <div class="media-left media-middle">
                                    <img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{work.workName}}</h4>
                                    <p class="text-right">{{work.companyName}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>

                <!-- ACADEMIC EXPERIENCE -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-bar-chart  section-left-icon lighter-green-background"></i>
                            <span class="bold padding-15px white-font">ACADEMIC EXPERIENCE</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="academic in academics">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <h4 class="media-heading">{{academic.academicTitle}}</h4>
                                    <!--<p class="text-right">{{academic.companyName}}</p>-->
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>

                <!-- EDUCATION -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-graduation-cap section-left-icon yellow-background"></i>
                            <span class="bold padding-15px white-font">EDUCATION</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="education in educations">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <h4 class="media-heading">{{education.educationTitle}}</h4>
                                    <p class="text-right">{{education.university}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- COURSEWORK -->
            <div class="col-xs-12 col-sm-4 ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-book section-left-icon light-green-background"></i>
                            <span class="bold padding-15px white-font">COURSEWORK</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="coursework in courseworks | limitTo:3">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <h4 class="media-heading">{{coursework.title}}</h4>
                                    <p class="text-right">{{coursework.provider}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>

                <!-- TECHNICAL SKILLS -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-list section-left-icon red-background"></i>
                            <span class="bold padding-15px white-font">TECHNICAL SKILLS</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="skill in skills | limitTo:3">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <p class="media-heading">{{skill.skill}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>

                <!-- ACHIEVEMENTS -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-trophy section-left-icon green-background"></i>
                            <span class="bold padding-15px white-font">ACHIEVEMENTS</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="achievement in achievements | limitTo:1">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <p class="media-heading">{{achievement.name.title}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PERSONAL PROJECTS -->
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-puzzle-piece  section-left-icon green-background"></i>
                            <span class="bold padding-15px white-font">PERSONAL PROJECTS</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="myProject in myProjects | limitTo:1">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <p class="media-heading">{{myProject.description}}</p>
                                </div>
                            </li>
                            <li class="">More </li>
                        </ul>
                    </div>
                </div>

                <!-- INTERESTS & HOBBIES -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 no-padding-L-R landingPage-card margin-bottom-30px">
                        <h5 class="no-margin border-bottom-grey">
                            <i class="fa fa-rocket section-left-icon blue-background"></i>
                            <span class="bold padding-15px white-font">INTERESTS & HOBBIES</span>
                        </h5>
                        <ul class="media-list tab-pane fade in active padding-L-R-15px">
                            <li class="media border-bottom-grey padding-top-bottom-10px" ng-repeat="interest in interests | limitTo:1">
                                <!--<div class="media-left media-middle">-->
                                <!--<img class="media-object img-thumbnail home-card-img" ng-src={{work.companyImage}} alt="work experience image">-->
                                <!--</div>-->
                                <div class="media-body">
                                    <p class="media-heading">{{interest.name}}</p>
                                </div>
                            </li>
                            <li class="">More (in progress)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>