
<!--  NAV BAR  -->
<div id="nav" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <h4>CHRISTOS DIMIZAS CV</h4>
    <div class="home-box col-xs-12 col-sm-12">
        <div>
            <img src="images/281cf9d.jpg" alt="Christos Dimizas image">
            <h2><a ui-sref="app">Christos Dimizas</a></h2>
            <!--<p>Software engineer</p>-->
        </div>
    </div>
    <div id="navbar" class="navbar-collapse">
        <ul class="sidebar-nav">
            <li><a id="work-experience-anchor" ui-sref="app.workExperience">Work & Academic Experience</a></li>
            <li><a id="education-coursework-anchor" ui-sref="app.education">Education & Coursework</a></li>
            <li><a id="skills-anchor" ui-sref="app.skills">Technical & additional skills</a></li>
            <li><a id="interests-anchor" ui-sref="app.interests">Achievements & Personal Interests</a></li>
            <li><a id="contact-anchor" ui-sref="app.contact">Contact</a></li>
        </ul>
    </div>

    <div class="social">
        <ul>
            <li>
                <a href="https://github.com/christos-dimizas" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://gr.linkedin.com/in/christos-dimizas-baa88348" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>