<!------ TECHNICAL & ADDITIONAL SKILLS --------->
<section id="skills" class="">

    <div class="">
        <div class="title-collapse border-grey">
            <h3 class="no-margin">
                <a id="skills_expand"><i class="fa fa-list section-left-icon red-background"></i><span class="bold padding-15px">TECHNICAL & ADDITIONAL SKILLS</span></a>
            </h3>
        </div>
    </div>
    <div class="row row-content">

        <!-- TECHNICAL SKILLS -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px  animateblock left">
            <h3 class="section-title">TECHNICAL SKILLS</h3>
            <div id="technical_skills">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 ">
                        <ul>
                            <li><strong>Object Oriented Analysis & Design principles.</strong></li>
                            <li><strong>Scrum</strong> (agile software development methodology), <strong>Git Software, Swing, SQL, HTML5, CSS3,
                                JavaScript, PHP, JAVA, JQuery, Drupal, WordPress, Bootstrap framework, JIRA</strong>
                                proprietary issue tracking .</li>
                            <li><strong>Customer requirements Collection & specifications analysis.</strong></li>
                            <li>Excellent knowledge of <strong>Eclipse, PHPStorm, Mathematica</strong>.</li>
                            <li>Excellent knowledge of Microsoft (<strong>Word, Excel, PowerPoint</strong>).</li>
                            <li>Familiar with (<strong>MatLab, Octave, AngularJS</strong>).</li>
                            <li>Familiar with (<strong>Windows & Linux.</strong>).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADDITIONAL SKILLS -->
        <div class="col-xs-12 col-sm-6 padding-L-R-15px  animateblock right">
            <h3 class="section-title">ADDITIONAL SKILLS</h3>
            <div id="additional_skills">
                <div class="row padding-top-10px">
                    <div class="col-xs-12 col-sm-12 ">
                        <ul>
                            <li>Excellent Analytical Skills: Great at problem solving.</li>
                            <li>Excellent Oral Presentation Skills.</li>
                            <li>Excellent People Skills.</li>
                            <li><strong>Team work</strong>: I have worked in various types of teams with colleagues during specific projects, to
                                research teams, to postgraduate coursework groups and volunteer groups.</li>
                            <li>During my graduate studies while I was a <strong>board member</strong> of the university voluntary blood
                                donation group we organized a two days conference (summer of 2007) about blood donation in
                                Heraklion of Crete.</li>
                            <li><strong>Self-motivated</strong> and able to work without supervision.</li>
                            <li>
                                Foreign Languages :
                                <ul>
                                    <li><strong>Greek</strong> (native language)</li>
                                    <li>
                                        <strong>Fluent English</strong>
                                        <br>
                                        <strong>IELTS Band Score : 7.5</strong> (Listening:8.5, Reading:7, Writing:6, Speaking: 7.5)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>